# Node.js dependencies
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Newman reports
newman/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/